syntax = "proto3";

package {{ .Package }};

option go_package = "{{ .GoPackage }}";
{{ if hasTimeNodes .Nodes }}
import "google/protobuf/timestamp.proto";
{{ end }}
import "validate/validate.proto";

{{- range .Nodes }}
{{- $node := . }}

{{/* 生成枚举定义 */}}
{{- range $f := .Fields }}
{{- if $f.IsEnum }}
enum {{ $f.StructField }} {
  {{/* Proto3 要求首个枚举值为 0 */}}
  {{ $f.StructField }}_UNSPECIFIED = 0;
{{- range $k, $v := getEnumValues $f }}
  {{ $f.StructField }}_{{ $k }} = {{ $v }};
{{- end }}
}
{{- end }}
{{- end }}

message {{ .Name }} {
{{- range $i, $f := .Fields }}
  {{ with $tag := getProtoTag $f $i }}
  {{/* 根据字段类型生成 Proto 字段定义，包括 validate 规则 */}}
  {{ protoType $f }} {{ $f.Name }} = {{ $tag }} [(validate.rules).{{ protoType $f }} = {{ getValidateRules $f }}];
  {{- end }}
  {{- end }}
{{- $count := len .Fields }}
{{- range $e := .Edges }}
{{- if and (edgeHasFK $e) (not (hasField $node.Fields (edgeField $e))) }}
  {{- $count = add $count 1 }}
  {{ edgeProtoType $e }} {{ $e.Name }}_id = {{ $count }};
{{- end }}
{{- end }}
}
{{- end }}
